* {
  box-sizing: border-box;
}
.container{
  max-width: 1200px;
  margin: 0 auto;
}
.row {
  background: lightblue
}
[class*=col-] {
  background-color: lightyellow
}
.row, [class*=col-] {
  padding: 3px;
  border: 1px solid black;
  color: darkblue
}
.nav-menu-item {
  display: inline-block;
}
.slider {
  list-style-type: none;
  position: relative;
}

.absolute {
  position: absolute;
  top: 10px;
  left: 60px;
